@import '../../variables';
@import '../../configure';

.navbar-container{
  width: 100%;
  @include flex_rw;
  justify-content: space-evenly;
  background-color:$color_shade;
}



.logo{
  font-size: 1.5rem;
  margin: .5rem;
  font-family: cursive;
  font-weight: bolder;
  color: $color_sb;
}




@media screen and (max-width:872px){     //changed from 855px to 872px; try reverting it?
      .navbar-container{
        @include flex_clmn;
        padding-left: 1rem;
        align-items: flex-start;
      }
}
