<div class="navbar-container">

       <div class="logo">
         Portals-FE
        </div>

       <app-links [linkName]="'About'"></app-links>

       <app-links [linkName]="'Products'"> </app-links>

       <app-links [linkName]="'For Teams'"> </app-links>

       <app-search [search]="'Search here...'"></app-search>


       <app-links  *ngIf="!isLoggedIn"[linkName]="'Login'"> </app-links>
       <app-links  *ngIf="isLoggedIn" (out)="loggingOut()" [linkName]="'Logout'" (click)="loggingOut()"> </app-links>
       <app-links  *ngIf="!isLoggedIn"[linkName]="'Register'"> </app-links>

       <app-burger (out)="onBurgerClick($event)"></app-burger>

</div>
