<form (submit)="onSubmit()" class="form-wrap">

  <div class="space">Email</div>

  <app-input [fieldValues]="usernameValues"
    [submitFailed]="usernameValues.submitFail" >
  </app-input>

  <div class="space">
     <div>Password</div>
     <div class="link" (click)="onForgot()">Forgot Password?</div>
  </div>

  <app-input [fieldValues]="passwordValues"
   [submitFailed]="passwordValues.pwd_submitFail" >
  </app-input>

  <app-login  [isdisabled]="usernameValues.disable && passwordValues.disable">
    Login
  </app-login>

</form>



