@import '../../../configure';
@import '../../../variables';

button{
  font:inherit;
  background: none;
  padding:0;
  border: none;
  cursor:pointer;
  outline: inherit;
}

.login-wrap{

  @include flex_rw;
  font-size: 1rem;


  min-width:240px;
  height:30px;
 
  border:.1rem solid $color_w;
  background-color:darken($color_sb,10%);

  margin-top: 0.5rem;
  border-radius: .25rem;
  
  color:$bg;

}


.login-wrap:hover{

  border-radius: .5rem;

  color: $bg;
  background-color: $color_sb;
  
  border: .1rem solid $color_sb;
  border:.1rem solid $color_w;

}

@media (max-width:300px){
  .login-wrap{


  }
}
