@import '../../../configure';
@import '../../../variables';


.login-wrap{

  @include flex_rw;
  font-size: 1rem;


  min-width:224px;
  height:28px;
  background-color: $color_y;

  margin-top: 0.5rem;
  border-radius: .25rem;
  border: .1rem solid lighten($color_y,15%);

}


.login-wrap:hover{

  border-radius: .5rem;

  color: $bg;
  background-color:$color_sb;
  border:.1rem solid $color_w;

}

@media (max-width:300px){
  .login-wrap{


  }
}
