
<app-navbar class="root"
 >
</app-navbar>

<div class="frm">
    <app-form class="root"
      *ngIf="show_login_form"
       >
    </app-form>
</div>


<div class="test">
      <div class="contain">
          <div class="contain-wrap">
              <div class="dark">
                        <app-textlink class="root" *ngIf="show_login_form">

                            <p text>Do not have an account?...</p>
                            <p>Register Here</p>

                        </app-textlink>

              </div>
          </div>

          <div class="extra">
          </div>

      </div>

      <div class="light">
          <app-logo class="root">
          </app-logo>
      </div>

</div>
