@import '../../configure';
@import '../../variables';

.txtlnk{
   @include flex_rw;
   color: $color_w;
   margin: .9rem;
   
}



.lnk{
text-decoration: none;
color: $color_r;
}

.lnk:hover{
  color: lighten($color_r,10%);
}
