@import '../../../configure';
@import '../../../variables';


.form-input{
  font-family: Verdana, Tahoma, sans-serif;
  @include flex_rw;

  width:240px;
  height:30px;
  margin: .5rem;
  margin-bottom: 1.25rem;

  background-color: $color_w;
  color: $bg;

  border-radius: .25rem;
  border: .1rem solid $bg;
  overflow: hidden;
}

.fnt{
   font-size: 10px;
   padding: 0;
   margin-left: 10px;
}

input{
  outline: none;
}

input:focus{
  border: .1rem solid darken($color_sb,20%);
}

.red{
  border: .1rem solid $color_r;
}
