@import '../../../variables';
@import '../../../configure';
.search-wrap{

  font-family: Verdana, Tahoma, sans-serif;
  @include flex_rw;
  width:340px;
  height:28px;
  margin: .5rem;
  background-color: lighten($color_sb,25%);
  color: $bg;

  border-radius: .25rem;
  border: .1rem solid lighten($color_y,15%);
  overflow: hidden;
}

.search-wrap:hover{
  border:.1rem solid $color_sb;
}

::placeholder{
  opacity: 1;
  color: $bg;
}

input:focus::placeholder{
        color:transparent;
}

input{
  outline: none;
}


@media screen and (max-width:360px){
   .search-wrap{
     width: 280px;
   }
}
