/* You can add global styles to this file, and also import other style files */
@import './app/_variables';

*{
  box-sizing: border-box;
}

body{
    width:100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color:$color_p;

}
